/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family:'Monaco';
	background:#52705a;
	color:#c1c9c4;     }	
}


#container {
	  border: 1px solid rgb(#,#,#);
  background: rgb(#,#,#);
  width: 90%;                            /* You can change this number */
  max-width: 800px;                 /* You can change this number */
  margin: auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  color: rgb(#0c4f0c);
}

a:hover {
  color: rgb(#0c4f0c);
}

figure {
  margin: 0px;
}

figure img {
  width: 100%;
}

figcaption, footer {
  font-size: 0.75em;
}


