



/* Basic CSS resets -- leveling slight inconsistencies in browsers */
<html>
<head>
	<meta charset="utf-8>
	<title>Portfolio</title>
	<link rel="stylesheet" href=
	"css/style.css">
	</head>
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family:'Monaco';
	background:#52705a;
	color:#c1c9c4;     }	


#container {
width:550px;
background:rgba(0,0,0,0.2);
 border: 1px solid rgb(#,#,#);
  background: rgb(#,#,#);
  width:90%;                            /* You can change this number */
  max-width:800px;                 /* You can change this number */
  margin:auto;


img { 

display: block;
margin-left: auto;
margin-right: auto;
width: 40%;

}

<img src="img/myfavs3.jpg" 
width="300"
heigh="400"
>

<figcaption> My Favorite People :) </figcaption>
 <img src="img/layla3.jpg" 
width="400"
height="300"
>
<figcaption>Layla <3</figcaption>
}
a {
color:#e8e3d8;
}
ul {
  list-style: none;
  padding-left: 0px;
}

a {
  color:rgb(#0c4f0c);
}

a:hover {
  color:rgb(#8fb597);
}

figure {
  margin:0px;
}

figure img {
  width:100%;

}

figcaption, footer {
  font-size:0.75em;
}


